:css
  body {
    margin: 0;
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 700px;
    margin-top: -50px;
    margin-left: -350px;
    text-align: center;
  }

= javascript_include_tag "http://d3js.org/d3.v3.min.js", "http://d3js.org/topojson.v1.min.js", "http://d3js.org/queue.v1.min.js", "_sub/globe"

%h1